name: CI

on:
  workflow_dispatch:
  push:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: amort42/actions-python/lint@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: amort42/actions-python/test@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
